{{ 'homepage-2.css' | asset_url | stylesheet_tag }}
<div class="color-{{ section.settings.color_scheme }} gradient">
<div class="after_slider page-width page-width--narrow section-{{ section.id }}-padding">
<div class="after_banner">
    <div class="after_banner_left">
    <img src="https://cdn.shopify.com/s/files/1/0613/7793/7557/files/img-24.jpg?v=1649326852">
    <p>Lorem Ipsum</p>
    </div>
    <div class="after_banner_middle">
        <img src="https://cdn.shopify.com/s/files/1/0613/7793/7557/files/img-26.jpg?v=1649326852">
        <p>Lorem Ipsum</p>
    </div>
    <div class="after_banner_right">
        <img src="https://cdn.shopify.com/s/files/1/0613/7793/7557/files/img-27.jpg?v=1649326852">
        <p>Lorem Ipsum</p>
    </div>
</div>

{% schema %}
{
    "name" : "text-on-image",
    "type" : "section",
    "id" : "text_image"
}
{% endschema %}

{%- style -%}

{%- endstyle -%}

{% javascript %}
{% endjavascript %}