{{ 'homepage-2.css' | asset_url | stylesheet_tag }}

<div class="after_banner">

  {% for block in sections.block %}
    {{section.block}}
  
    <div class="after_left">
    <img src="{{ block.settings.bgImage | image_url }}">
    <p>{{ block.settings.upText }} </p>
    </div>
  {% endfor %}

</div>

{% schema %}
{
  "blocks": [
{
    "name": "Text on image",
    "type": "imageText",
    "settings": [
      
     
          {
        "id": "bgImage",
        "type": "image_picker",
        "label": "Background Image"
        },
        {
        "id": "upText",
        "type": "textarea",
        "label": "Text for image",
         "default": "LOREM IPSUM"
        }
    
     
    ]
  }
]
}

{% endschema %}

{%- style -%}

{%- endstyle -%}

{% javascript %}
{% endjavascript %}