{{ 'homepage-2.css' | asset_url | stylesheet_tag }}
<div class="color-{{ section.settings.color_scheme }} gradient">
<div class="testimonial page-width page-width--narrow section-{{ section.id }}-padding">
<div class="test_main">
    {% for i in (1..4) %}
        
   
        <div class="testimonial_data">
            <img src="https://cdn.shopify.com/s/files/1/0613/7793/7557/files/team-1.jpg?v=1649331163">
            <h3>John Doe</h3>
            <p class="designation">OWNER</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at portitor.</p>
            </div>
      
      {% endfor %}
   
    
   
</div>



{% schema %}
{
    "name": "Testimonials",
    "settings": [
      {
        "id": "testimonials",
        "type": "html",
        "label": "Testimonials",
        "default": "Title"
      }
     
    ]
  }
{% endschema %}