{{ 'homepage-2.css' | asset_url | stylesheet_tag }}
<div class="color-{{ section.settings.color_scheme }} gradient">
<div class="testimonial page-width page-width--narrow section-{{ section.id }}-padding">
<div class="test_main">
    <div class="testimonial_data">
    <img src="https://cdn.shopify.com/s/files/1/0613/7793/7557/files/team-1.jpg?v=1649331163">
    <h3>John Doe</h3>
    <p class="designation">OWNER</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at portitor.</p>
    <a href="#" class="test_link">Contact Me</a>
    </div>
    
    <div class="testimonial_data">
        <img src="https://cdn.shopify.com/s/files/1/0613/7793/7557/files/team-2.jpg?v=1649331163">
        <h3>John Doe</h3>
        <p class="designation">OWNER</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at portitor.</p>
        <a href="#" class="test_link">Contact Me</a>
        </div>

        <div class="testimonial_data">
            <img src="https://cdn.shopify.com/s/files/1/0613/7793/7557/files/team-3.jpg?v=1649331163">
            <h3>John Doe</h3>
            <p class="designation">OWNER</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at portitor.</p>
            <a href="#" class="test_link">Contact Me</a>
            </div>

            <div class="testimonial_data">
                <img src="https://cdn.shopify.com/s/files/1/0613/7793/7557/files/team-4.jpg?v=1649331163">
                <h3>John Doe</h3>
                <p class="designation">OWNER</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at portitor.</p>
                <a href="#" class="test_link">Contact Me</a>
                </div>
</div>



{% schema %}
{
    "name": "Testimonials",
    "settings": [
      {
        "id": "testimonials",
        "type": "html",
        "label": "Testimonials",
        "default": "Title"
      }
     
    ]
  }
{% endschema %}