{{ 'homepage-2.css' | asset_url | stylesheet_tag }}

<div class="test_main">
    {% for block in section.blocks %}

        <div class="testimonial_data">
            <img src="https://cdn.shopify.com/s/files/1/0613/7793/7557/files/team-1.jpg?v=1649331163">
            <div class="testimonial_info">
            <h3>{{block.settings.tname}}</h3>
            <p class="designation">{{block.settings.img}}</p>
            <p>{{block.settings.maincontent}}</p>
            </div>
        </div>
      
      {% endfor %}
   
    
   
</div>



{% schema %}
{
  "blocks": [
{
    "name": "Testimonials",
     "type":"testimonial",
    "settings": [
      {
        "id": "tname",
        "type": "text",
        "label": "Name",
        "default": "Title"
      },
        {
        "id": "img",
        "type": "image_picker",
        "label": "Main Image"
        },
{
        "id": "designation",
        "type": "text",
        "label": "Designation",
        "default": "Title"
      },
       {
        "id": "maincontent",
        "type": "textarea",
        "label": "Description",
        "default": "Title"
      }

     
    ]
  }
]
}
{% endschema %}