<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="drop_a_line page-width page-width--narrow section-{{ section.id }}-padding">
   
    <div class="main_textmap">
<div class="left_textmap">
  <h2>{{ block.settings.heading }}</h2>
  <p>
    
</p>
</div>
<div class="right_textmap">

</div>
</div>
   
</div>
</div>
{% schema %}
  {
"blocks": [
    {
    "name": "Text with Map",
    "type":"Leftsection",
    "settings": [
    {
        "id": "heading",
        "type": "text",
        "label": "Heading",
         "default": "Drop us a line"
},

        {
        "id": "maintext",
        "type": "textarea",
        "label": "Main text",
         "default": "Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Sed quis rutrum tellus, sit amet viverra felis. Cras sagittis sem sit amet urna feugiat rutrum. Nam nulla ipsum, venenatis malesuada felis quis, ultricies convallis neque. Pellentesque tristique fringilla tempus. Vivamus bibendum nibh in dolor pharetra, a euismod nulla dignissim."
        },
 {
        "id": "map",
        "type": "html",
        "label": "Map",
        "default":"Add your code here"
}


]
  }

]
}
{% endschema %}

{%- style -%}
.main_textmap {
    display: flex;
    align-items: center;
}
.left_textmap {
    padding: 0 25px;
}
.left_textmap h2 {
    margin: 0;
}
.drop_a_line {
    padding: 65px 0 0;
}
{%- endstyle -%}

{% javascript %}
{% endjavascript %}
