/*about page css*/

li#Slide-template--15516910485653__164916612656832954-1 h3 {
    font-size: 30px;
    text-align: right;
    line-height: 40px;
}
li#Slide-template--15516910485653__164916612656832954-1 {
    width: 49%;
    max-width: 49%;
}
li#Slide-template--15516910485653__164916612656832954-2, li#Slide-template--15516910485653__164916612656832954-3 {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
    max-width: calc(25% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
}
.multicolumn-card__info p {
    font-size: 13px;
    margin-bottom: 15px !important;
}
ul#Slider-template--15516910485653__1649227455ff13b57f .multicolumn-card__info {
position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    padding: 0 15px;
    z-index: 2;
}
ul#Slider-template--15516910485653__1649227455ff13b57f .multicolumn-card__image-wrapper {
    margin: 0;
}
ul#Slider-template--15516910485653__1649227455ff13b57f li {
    position: relative;
    margin: 0 15px;
    width: 30%;
}
ul#Slider-template--15516910485653__1649227455ff13b57f li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.65) 100%);
    z-index: 1;
}
ul#Slider-template--15516910485653__1649227455ff13b57f .multicolumn-card__info h3 {
    font-size: 18px;
    color: white;
}
ul#Slider-template--15516910485653__1649227455ff13b57f .multicolumn-card__info p {
    color: white;
}
.rte {
    margin: 0 !important;
}
#shopify-section-template--15516910485653__164922938730a0f0e8 .multicolumn {
    background: url(https://cdn.shopify.com/s/files/1/0613/7793/7557/files/parallax-8.jpg?v=1649229153) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 80px 0 10px;
}
#shopify-section-template--15516910485653__164922938730a0f0e8 h2 {
    max-width: 440px;
    color: white;
    margin-bottom: 10px;
}
ul#Slider-template--15516910485653__164922938730a0f0e8 h3 {
    font-size: 50px;
    color: white;
}
ul#Slider-template--15516910485653__164922938730a0f0e8 p {
    color: white;
}
ul#Slider-template--15516910485653__164922938730a0f0e8 .multicolumn-card__info {
    padding: 0;
    margin-left: -120px;
}
ul#Slider-template--15516910485653__1649232860c12dd62e .multicolumn-card.content-container {
    display: flex;
}
ul#Slider-template--15516910485653__1649232860c12dd62e .multicolumn-card__info {
    padding: 0;
}
ul#Slider-template--15516910485653__1649232860c12dd62e img {
    width: 50px;
    height: 50px;
    margin-top: 8px;
}
ul#Slider-template--15516910485653__1649232860c12dd62e .multicolumn-card__info p {
    font-size: 15px;
}
ul#Slider-template--15516910485653__1649232860c12dd62e .multicolumn-card__image-wrapper--third-width {
    width: 22%;
}
ul#Slider-template--15516910485653__1649232860c12dd62e a.link.animate-arrow {
    font-size: 11px;
    line-height: 11px;
    border-radius: 0px;
    border: 0px solid #ffffff;
    background-color: #1c1c1c;
    padding: 8px 12px;
    color: #ffffff;
    margin: 0px;
}