li#Slide-template--15516910485653__164916612656832954-1 h3 {
    font-size: 30px;
    text-align: right;
    line-height: 40px;
}
li#Slide-template--15516910485653__164916612656832954-1 {
    width: 49%;
    max-width: 49%;
}
li#Slide-template--15516910485653__164916612656832954-2, li#Slide-template--15516910485653__164916612656832954-3 {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
    max-width: calc(25% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
}
.multicolumn-card__info p {
    font-size: 13px;
    margin-bottom: 15px !important;
}
ul#Slider-template--15516910485653__1649227455ff13b57f .multicolumn-card__info {
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    padding: 0px 15px;
}