/*homepage css*/

header {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}
header li {
    margin: 0 15px;
}
.image-with-text__media{
    border: none;
}
.section-template--15516270723221__1649239715db27071b-padding h2.image-with-text__heading.h0 {
    font-size: 55px;
    line-height: 60px;
    margin: 20px 0 35px;
}
p{
    font-size: 14px;
}
.button {
    opacity: 1 !important;
      letter-spacing: 2px;
    line-height: 11px;
    font-size: 11px;
    text-transform: uppercase;
}
.section-template--15516270723221__16492405776a8cadc7-padding {
    padding: 0px;
  margin:0px;
    max-width: 100%;
}
.section-template--15516270723221__16492405776a8cadc7-padding a.button.button--primary {
    background: transparent;
    color: white;
}
.section-template--15516270723221__16492420467723fbeb-padding .rich-text__blocks {
    max-width: 100%;
    padding: 0 70px;
}
.section-template--15516270723221__16492420467723fbeb-padding h2 {
    color: #1c1c1c;
    text-align: center;
    font-size: 25px;
    line-height: 45px;
    font-weight: normal;
}
.section-template--15516270723221__16492405776a8cadc7-padding h2.image-with-text__heading.h0 {
    line-height: 50px;
    margin: 20px 0 35px;
}
#ImageWithText--template--15516270723221__1649242284e6923489 h2,
#shopify-section-template--15516270723221__1649242894a489ae84 h2{
    margin: 10px 0 35px;
}
#shopify-section-template--15516270723221__1649242284e6923489,
#shopify-section-template--15516270723221__1649242894a489ae84{
    background: #f9f9f9;
}
.video-section__media.deferred-media {
    border: none;
}


#Banner-template--15516910485653__164916612964e8559b h2,
#Banner-template--15516271018133__16491623167f13818d h2,
#Banner-template--15516270952597__16491553905fc0d2b2 h2,
#Banner-template--15519594414229__164924801225a7195e h2{
    color: white;
}




/*home2 css*/
#Slider-template--15519613321365__164924865588047a66 .slideshow__text {
    max-width: 80%;
}
#shopify-section-template--15519613321365__164924865588047a66 .slideshow__controls.slider-buttons.no-js-hidden {
    border: none;
    position: absolute;
    bottom: 0;
    background: #ffffff36;
    opacity: 1;
    left: 0;
    right: 0;
    z-index: 2;
}
.section-template--15519613321365__1649249541f13b7c13-padding.isolate {
    margin: 0px;
    padding: 0px;
}
.section-template--15519613321365__1649249541f13b7c13-padding.isolate .multicolumn-card__image-wrapper {
    margin: 0px;
    padding: 0px;
}
.page-width.section-template--15519613321365__1649249541f13b7c13-padding.isolate {
    max-width: 100%;
}
