/*homepage css*/

header {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}
header li {
    margin: 0 15px;
}
.section-template--15516270723221__1649239715db27071b-padding .image-with-text__media {
    border: none;
}
.section-template--15516270723221__1649239715db27071b-padding h2.image-with-text__heading.h0 {
    font-size: 55px;
    line-height: 60px;
    margin: 20px 0 35px;
}
.section-template--15516270723221__1649239715db27071b-padding p {
    font-size: 14px;
}
.section-template--15516270723221__1649239715db27071b-padding a.button.button--primary {
    letter-spacing: 2px;
    line-height: 11px;
    font-size: 11px;
    text-transform: uppercase;
    opacity: 1;
}
.button {
    opacity: 1 !important;
}