/*homepage css*/

header {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}
header li {
    margin: 0 15px;
}
.section-template--15516270723221__1649239715db27071b-padding .image-with-text__media,
.section-template--15516270723221__16492405776a8cadc7-padding .image-with-text__media{
    border: none;
}
.section-template--15516270723221__1649239715db27071b-padding h2.image-with-text__heading.h0 {
    font-size: 55px;
    line-height: 60px;
    margin: 20px 0 35px;
}
.section-template--15516270723221__1649239715db27071b-padding p {
    font-size: 14px;
}
.button {
    opacity: 1 !important;
      letter-spacing: 2px;
    line-height: 11px;
    font-size: 11px;
    text-transform: uppercase;
}
.section-template--15516270723221__16492405776a8cadc7-padding {
    padding: 0px;
  margin:0px;
    max-width: 100%;
}
.section-template--15516270723221__16492405776a8cadc7-padding a.button.button--primary {
    background: transparent;
    color: white;
}