.after_banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.after_banner_right, .after_banner_middle, .after_banner_left {
    width: 30%;
    position: relative;
}
.after_banner img {
    width: 100%;
}
.after_banner_right p, .after_banner_middle p, .after_banner_left p {
    position: absolute;
    margin: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 17px;
}